

#botao{
    background-color: blue;
    font-family:sans-serif;
}
.login-panel {
    margin-top: 50px;}
.yap{
    width: 300px;
    margin: 0px auto;
}
.panel-title{
    width: 300px;
    margin: 5px auto;

}