body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #ADABAB;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    color: #017572;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}


h2{
    text-align: center;
    color: #017572;
}

h4 {
    text-align: center;
    color: rgba(190, 57, 54, 0.76);
}